/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Yanone+Kaffeesatz:wght@200;300;400;500;600&display=swap');

.font-josefin-sans {
    font-family: 'Josephin Sans', sans-serif;
}
  
.font-fasthand-cursive {
    font-family: 'Fasthand', cursive;
}
  
.font-yanone-cursive {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

// fonts
$font-family-sans-serif: "Yanone Kaffeesatz", sans-serif !default;

// colors
$body-color: #12273F;
$link-color: #1a0dab;
$code-color: #9E71FE;
$dark-bg-code-color: lighten($code-color, 15%);
$light-bg-code-color: darken($code-color, 15%);

// headings
$presentation-heading-font: "Yanone Kaffeesatz", sans-serif !default;

/*-- scss:rules --*/
.reveal .title-slide h1 {
  font-size: 3.0em;
}

.rotate {
    writing-mode: vertical-lr;
   -webkit-transform: rotate(-180deg);
   -moz-transform: rotate(-180deg);
}

.reveal {
  background-color: #f2f2f2; /* Light grey background globally */
}

.reveal .slides section {
  color: #333333; /* Custom text color */
}

/* Increase font size for all slide content */
.reveal .slides section {
  font-size: 1.2em; /* base font size for paragraphs and normal text */
}

/* Increase font size for headings */
.reveal .slides section h1 {
  font-size: 3.0em; /* a bit bigger than your current 3.5em */
}

.reveal .slides section h2 {
  font-size: 2.0em;
}

.reveal .slides section h3 {
  font-size: 1.5em;
}

/* Optional: increase font size for smaller headings */
.reveal .slides section h4 {
  font-size: 1.5em;
}