/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Yanone+Kaffeesatz:wght@200;300;400;500;600&display=swap');

.font-josefin-sans {
    font-family: 'Josephin Sans', sans-serif;
}
  
.font-fasthand-cursive {
    font-family: 'Fasthand', cursive;
}
  
.font-yanone-cursive {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

// fonts
$font-family-sans-serif: "Yanone Kaffeesatz", sans-serif !default;

// colors
$body-color: #12273F;
$link-color: #3CD7D9;
$code-color: #9E71FE;
$dark-bg-code-color: lighten($code-color, 15%);
$light-bg-code-color: darken($code-color, 15%);

// headings
$presentation-heading-font: "Yanone Kaffeesatz", sans-serif !default;

/*-- scss:rules --*/
.reveal .title-slide h1 {font-size: 3.5em;}

.rotate {
    writing-mode: vertical-lr;
   -webkit-transform: rotate(-180deg);
   -moz-transform: rotate(-180deg);
}

.reveal {
  background-color: #f0f0f0;  /* Light grey background globally */
}

.reveal .slides section {
  color: #333333; /* Custom text color */
}

